  .centertext{
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    
  }
  .flex-container > div {
    width: 200px;
    margin: auto;
    text-align: center;
  }
  .center {
    margin: auto;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
  }
  .cardslot{
    display: block;
    border: 1px solid black;
    margin: auto;
    padding: 0px;
  }
  .button{
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
  }